/* define colors */
:root {
	--color-background: #facdbc;
	--button-color: #f765a3;
	--color-primary: #0B1354;
	--font-shadow-color: #000000;
	--white: #ffffff;
	--gray: #ddd;
}

button,
.button {
	display: inline-block;
	background: var(--button-color);
	border: none;
	color: var(--color-primary);
	border-radius: 1rem;
	padding: 1.25rem 2rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: transform 1s;
}

button:active,
.button:active {
	transform: scale(.85);
}

.button-white {
	background: var(--white);
	border: none;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 4rem;
	padding: 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: transform 1s;
	display: inline-block;
	text-decoration: none;
}

.button-white:active {
	transform: scale(.85);
}

/**/
html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-weight: 300;
}

body {
	background-image: url("images/aguayo.jpg");
	background-size: 6rem auto;
}

.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 4rem;
	background-color: var(--color-background);
	text-align: center;
}

input {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	width: 95%;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0px;
}

h3 {
	font-size: 1.55rem;
	font-weight: 400;
	margin: 1rem 0px;
}

h4 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0px;
}

a {
	text-decoration: none;
}

.item-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
	align-items: center;
}

.plus-minus-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 10rem;
	border: 1px solid var(--color-primary);
}

.plus-minus-control input {
	width: 2rem;
	font-size: 1.25rem;
	padding: 0.15rem 0rem;
	margin: 0rem;
	text-align: center;
	border: none;
}

.plus-minus {
	font-size: 1.25rem;
	font-weight: bold;
	font-family: monospace;
	color: var(--color-background);
	cursor: pointer;
	background-color: var(--white);
	border-radius: 10rem;
	padding: 0rem;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 1.9rem;
}
.plus-minus.disabled {
	opacity: 0.2;
}
.plus-minus:active {
	transform: scale(.85);
}

article,
form {
	background-color: var(--white);
	width: calc(100% - 4rem);
	box-shadow: 0 0 10px black;
	margin: 2rem 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
}

article img,
form img {
	width: 100%;
}

.fondo {
	width: 100%;
	max-height: 20rem;
	overflow: hidden;
	position: relative;
}

.fondo img {
	width: 100%;
}

.fondo h2 {
	position: absolute;
	color: #fff;
	padding-left: 1rem;
	padding-right: 1rem;
	/* font border */
	text-shadow: 0 0 2px var(--font-shadow-color),
		0 0 10px var(--font-shadow-color), 0 0 20px var(--font-shadow-color),
		0 0 30px var(--font-shadow-color), 0 0 40px var(--font-shadow-color),
		0 0 50px var(--font-shadow-color), 0 0 60px var(--font-shadow-color);
}

.fondo h2.titulo {
	top: 0px;
	left: 0px;
}

.fondo h2.precio {
	bottom: 0px;
	right: 0px;
	text-align: right;
}

.photo {
	position: relative;
	padding: 0px;
	justify-content: center;
	align-items: center;

	width: calc(100% - 2rem);
	box-shadow: 0 0 10px black;
	margin: 2rem 1rem;
}

.photo img {
	width: 100%;
	margin: -4px 0px;
}

.photo span {
	position: absolute;
	left: 0px;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	top: 40%;
	display: inline-block;
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 2px black, 0 0 10px black, 0 0 20px black, 0 0 30px black;
}

@media only screen and (min-width:769px) {
	body {
		overflow-y: hidden;
		overflow-x: hidden;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.logo-container {
		width: 50%;
		flex-grow: 1;
	}

	.main-container {
		flex-grow: 1;
		overflow-y: auto;
		overflow-x: hidden;
		height: 100vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		padding: 0rem 3rem;
	}
}
.llajua {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid var(--color-primary);
	border-radius: 10rem;
	overflow: hidden;
}
.llajua .picante-1 {
	background-color: #ffd054;
	flex-grow: 1;
	text-align: center;
}
.llajua .picante-2 {
	background-color: #ff8e52;
	flex-grow: 1;
	text-align: center;
}
.llajua .picante-3 {
	background-color: #fe6e4b;
	flex-grow: 1;
	text-align: center;
}
.llajua .picante-4 {
	background-color: #c1521d;
	flex-grow: 1;
	text-align: center;
}